@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .h1, .h2 {
    letter-spacing: -2.4px;
  }

  a {
    @apply hover:text-primary transition-colors duration-200 font-medium
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  @keyframes impulse {
    30%, 70% {
      transform: scale(1);
      filter: brightness(1);
    }
    50% {
      transform: scale(1.02);
      filter: brightness(1.15);
    }
  }

  /* 2. Trieda na použitie v HTML/JSX */
  .animate-impulse {
    animation: impulse 2.5s ease-in-out infinite;
  }
  .leader {
  height: 3px;           /* ⌀ bodky = 3 px */
  flex-grow: 1;
  margin: 0 10px;        /* zľava / sprava */

  /* ── bodky 3 px, medzera 7 px ───────────────────────────── */
  background-image: radial-gradient(circle, currentColor 1.5px, transparent 1.5px);
  background-size: 9px 3px;   /* 3 px bodka + 7 px medzera  */
  background-repeat: repeat-x; /* opakovať len vodorovne     */
}
}
